---
# tasks file for jpaybar.Mysql

- name: Create MySQL user
  mysql_user:
    login_user: "{{ mysql_root_username }}"    
    login_password: "{{ mysql_root_password }}"
    name: "{{ mysql_user_name }}"
    password: "{{ mysql_user_password }}"
    state: present
    host: "{{ item }}"
    priv: "dbname.*:SELECT,INSERT,UPDATE,DELETE"
    ### Give privileges to different databases
    # priv: "dbname.*:INSERT,UPDATE/anotherdb.*:SELECT/yetanotherdb.*:ALL"
  with_items:   
  - localhost
  # - 127.0.0.1  
  # - ::1  



