<?php
/** Configuración de base de datos para WordPress **/
define( 'DB_NAME', '{{ wp_db_name }}' );
define( 'DB_USER', '{{ wp_db_user }}' );
define( 'DB_PASSWORD', '{{ wp_db_pass }}' );
define( 'DB_HOST', '{{ wp_db_host }}' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

/** URLs de WordPress **/
define( 'WP_HOME', 'https://{{ proxy_server }}/wordpress' );
define( 'WP_SITEURL', 'https://{{ proxy_server }}/wordpress' );

/** Prefijo de tablas **/
$table_prefix = 'wp_';

/** Debug mode **/
define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}
require_once ABSPATH . 'wp-settings.php';
