<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ vhost.serverName }}</title>
  </head>
  
  <body>
    <h1>{{ vhost.serverName }} on {{ vhost.ip }}</h1>
  </body>
</html>
